<div class="readable-container"><h1>How to Study</h1>
<p>There are many ways to study the truth; none of them are wrong. Anything you do that brings Christ as the living Word into you is a wonderful thing! However, this site follows a particular method of study to guide you in digging deeply into the word, and into the ministry. The goal of these studies is threefold:</p>
<ul>
	<li>To spend time alone with the Lord, being infused by Him.</li>
	<li>To get the truth into you.</li>
	<li>To cause the truth to remain with you.</li>
</ul>
With these goals in view, this site guides you through the following steps in studying the truth:
<h2>Pray</h2>
Pray short prayers to open up to the Lord.
<h2>Sing</h2>
Sing a song to open to the Lord. This can be on the topic of studying the truth (Hymns #812 is a good one), or it can simply be any song that washes you and brings you to the Lord’s presence.
<h2>Pray-read</h2>
Pick a few verses from the section you will study, and thoroughly pray over them. A good way to pray-read is 1) Repeat the words directly, saying “amen!” 2) Apply the words to yourself, and pray to the Lord using the verses as the topic of your prayer. 3) Pray for others, using the verses as the topic of your prayer.
<h2>Study text with outlines</h2>
The outlines in the Recovery version are very important, they should direct your study. As you read through the text, try to find verses and phrases that link to the outline. As you study, feel free to underline, circle, highlight, and write notes next to the text. 
<h2>Study footnotes</h2>
Read through the footnotes, and try to find key phrases that relate to the verse. If you use multiple colors for your pens and highlighters, a good idea is to have one color per line of thought. Then any verses, footnotes, or notes that you write can all be done in the same color for that topic, and it will be very easy to link them visually.
<h2>Study Life-studies</h2>
Read through the life-studies related to the text, and look for any points not mentioned in the footnotes. Whenever you receive some light from the Lord, pray over it and add to the notes in your Bible.
<h2>Create key-point cards</h2>
After you study, write down a few key-points onto flashcards in a question-answer format. The key to flashcards is making them brief. For example, after studying the genealogy in Matthew 1, you may write the question “Who are the five women in Christ’s genealogy?” The answer might be simply “Tamar, Rahab, Ruth, Wife of Uriah, Mary.” Having a simple answer means it’s easier to remember. Don’t worry about all the details and significances. If you can remember the names, then probably you will remember all the details you enjoyed anyway! As a rule, just think when you are reviewing your flashcards: “Is this too difficult for me to remember?” If so, you may want to change the card, or discard it completely.
<h2>Create summary cards</h2>
Similar to the key-point cards, at the end of each chapter you study write a short summary of the events in the chapter. For example, for Matthew 1 write “Matthew 1” as the question, and the answer might be “Genealogy of Christ—proving His lineage as King. His origin—Begotten of the Holy Spirit, born of a virgin. His name—Jesus & Emmanuel.” This covers the three main points covered in chapter 1. Anything longer, and it will be too difficult to remember. The key to flashcards is short and simple!
headingReview
In order to remember and keep the word abiding in you, you must regularly review what you have studied. Since you have created question-based flashcards of key points and chapter summaries, the easiest way to review is to simply go through your flashcards, ask the questions and try to answer them from memory. You can do this with manual flashcards, or use software such as Anki or FlashCardsDeluxe to create electronic flashcards.
</div>