<div class="ticker-box">
  <div class="ticker-title">
    Recent Studies
  </div>
  <% @studies.reverse.each do |study| %>
  <div class="ticker-row">
    <div class="username">
      <%= study.user.username %>
    </div>
    <div class="ticker-study-summary">
      <%= study.summary if study.summary %>
    </div>
    <div class="ticker-study-title">
      <%= study.title %>
    </div>

    <div class="ticker-time">
      <%= print_time(study.created_at) %>
    </div>
  </div>
  <% end %>
</div>
