<div class="col-md-4 col-md-offset-1 col-xs-10 col-xs-offset-1">
  <%= render 'ticker' %>
</div>
<!-- <div class="margin-top"> -->
<div class="col-md-4 col-md-offset-2 col-xs-10 col-xs-offset-1">
  <%= render 'form' %>
</div>
