@import 'variables';

.btn-take-time {
  display: inline-block;
}
.study-field {
  padding-left: 6px;
  width: 100%;
  font-weight: 200;
  border: 1px solid lightgray;
}
.study-title-field {
  font-size: 18pt;
  height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.study-summary-field {
  font-size: 14pt;
  height: 120px;
  resize: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#word-count {
  text-align: right;
  color: gray;
}

.warning {
  color: #B33A3A;
}

.ticker-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}

.ticker-box {
  padding: 5px 10px;
  max-height: 450px;
  overflow: scroll;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.ticker-row {
  position: relative;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid lightgray;

  + .ticker-row {
    margin-top: 10px;
    // background-color: $dark-bar;
  }
  .username {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*transform: translateY(100%);*/
    font-weight: bold;
    font-size: 90%;
  }
  .ticker-study-title {
    font-weight: bold;
    width: 70%;
  }
  .ticker-time {
    position: absolute;
    right: 0;
    top: 0;
    /*transform: translateY(-50%);*/
    font-size: 0.9rem;
    color: gray;

  }
}